* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(120deg, #cab3ae, #e31b96, #d6b709);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #e5c5e1;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #c20755;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Great Vibes', cursive;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e6bbe0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 14px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #d754bd;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 16px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

ul li::before {
    content: '';
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
}

ul li.checked {
    color: #b4a6de;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}

ul li span {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: #555;
    line-height: 30px;
    text-align: center;
    flex-shrink: 0;
    cursor: pointer;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}

